<section class="section">
  <div class="container">
    <h1 class="catalog-title" id="catalogid">Catalog</h1>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-list-item-img-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/garmin_fenix@1x.png 1x,
                ./img/catalog/desktop/garmin_fenix@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/tab/garmin_fenix@1x.png 1x,
                ./img/catalog/tab/garmin_fenix@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/garmin_fenix@1x.png 1x,
                ./img/catalog/mob/garmin_fenix@2x.png 2x
              "
            />
            <img
              class="catalog-list-item-img"
              src="./img/catalog/mob/garmin_fenix@1x.png"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              width="292"
            />
          </picture>
        </div>
        <p class="catalog-list-item-name">Garmin Fenix 7X Pro Sapphire Solar</p>
        <p class="catalog-list-item-price">€500</p>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-item-img-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/garmin_marq@1x.png 1x,
                ./img/catalog/desktop/garmin_marq@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/tab/garmin_marq@1x.png 1x,
                ./img/catalog/tab/garmin_marq@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/garmin_marq@1x.png 1x,
                ./img/catalog/mob/garmin_marq@2x.png 2x
              "
            />
            <img
              class="catalog-list-item-img"
              src="../img/catalog/mob/garmin_marq@1x.png"
              alt="Garmin Marq Athlete"
              width="292"
            />
          </picture>
        </div>
        <p class="catalog-list-item-name">Garmin Marq Athlete</p>
        <p class="catalog-list-item-price">€450</p>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-item-img-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/garmin_descent@1x.png 1x,
                ./img/catalog/desktop/garmin_descent@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/tab/garmin_descent@1x.png 1x,
                ./img/catalog/tab/garmin_descent@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/garmin_descent@1x.png 1x,
                ./img/catalog/mob/garmin_descent@2x.png 2x
              "
            />
            <img
              class="catalog-list-item-img"
              src="../img/catalog/mob/garmin_descent@1x.png"
              alt="Garmin Descent MK1"
              width="292"
            />
          </picture>
        </div>
        <p class="catalog-list-item-name">Garmin Descent MK1</p>
        <p class="catalog-list-item-price">€680</p>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-item-img-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/garmin_fenix@1x.png 1x,
                ./img/catalog/desktop/garmin_fenix@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/tab/garmin_d2@1x.png 1x,
                ./img/catalog/tab/garmin_d2@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/garmin_d2@1x.png 1x,
                ./img/catalog/mob/garmin_d2@2x.png 2x
              "
            />
            <img
              class="catalog-list-item-img"
              src="../img/catalog/mob/garmin_d2@1x.png"
              alt="Garmin D2 Delta PX"
              width="292"
            />
          </picture>
        </div>
        <p class="catalog-list-item-name">Garmin D2 Delta PX</p>
        <p class="catalog-list-item-price">€380</p>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-item-img-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/garmin_fenix6pro@1x.png 1x,
                ./img/catalog/desktop/garmin_fenix6pro@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/tab/garmin_fenix6pro@1x.png 1x,
                ./img/catalog/tab/garmin_fenix6pro@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/garmin_fenix6pro@1x.png 1x,
                ./img/catalog/mob/garmin_fenix6pro@2x.png 2x
              "
            />
            <img
              class="catalog-list-item-img"
              src="../img/catalog/mob/garmin_fenix6pro@1x.png"
              alt="Garmin Fenix 6 Pro Solar"
              width="292"
            />
          </picture>
        </div>
        <p class="catalog-list-item-name">Garmin Fenix 6 Pro Solar</p>
        <p class="catalog-list-item-price">€400</p>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-item-img-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/tube_watch_S42@1x.png 1x,
                ./img/catalog/desktop/tube_watch_S42@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/tab/tube_watch_S42@1x.png 1x,
                ./img/catalog/tab/tube_watch_S42@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/tube_watch_S42@1x.png 1x,
                ./img/catalog/mob/tube_watch_S42@2x.png 2x
              "
            />
            <img
              class="catalog-list-item-img"
              src="../img/catalog/mob/tube_watch_S42@1x.png"
              alt="Tube Watch S42 Date Steel With Black Case"
              width="292"
            />
          </picture>
        </div>
        <p class="catalog-list-item-name">
          Tube Watch S42 Date Steel With Black Case
        </p>
        <p class="catalog-list-item-price">€395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
