<section class="header-section">
  <div class="container header-container">
    <a class="header-nav-logo" href="./index.html">
      <h1 class="header-nav-logo-text">watchcharm</h1>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-menu">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li class="header-nav-item current">
          <a class="header-nav-link" href="#aboutusid">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#catalogid">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">Sale</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviewsid">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contactusid">Contact Us</a>
        </li>
      </ul>

      <button class="header-nav-menu-burger-link" type="button" data-modal-open>
        <svg class="header-nav-menu-burger-icon" width="34" height="34">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
    <ul class="header-nav-social-list">
      <li class="header-nav-social-list-item">
        <a
          class="header-nav-social-item-link"
          href="https://www.facebook.com/"
          target="_blank"
        >
          <svg class="header-nav-social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-nav-social-list-item">
        <a
          class="header-nav-social-item-link"
          href="https://www.instagram.com/"
          target="_blank"
        >
          <svg class="header-nav-social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-nav-social-list-item">
        <a
          class="header-nav-social-item-link"
          href="https://www.youtube.com/"
          target="_blank"
        >
          <svg class="header-nav-social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
