<div class="backdrop" data-modal>
  <div class="menu-mob-container-wrap container">
    <div class="menu-mob-container">
      <button class="menu-mob-close-btn" type="button" data-modal-close>
        <svg class="close-mobile" width="34" height="34">
          <use href="./img/sprite.svg#icon-btn-close-menu"></use>
        </svg>
      </button>
      <nav class="menu-mob-nav">
        <ul class="menu-mob-nav-menu">
          <li class="menu-mob-nav-item">
            <a class="menu-mob-nav-link" href="./index.html">Home</a>
          </li>
          <li class="menu-mob-nav-item current">
            <a class="menu-mob-nav-link" href="#aboutusid">About Us</a>
          </li>
          <li class="menu-mob-nav-item">
            <a class="menu-mob-nav-link" href="#catalogid">Catalog</a>
          </li>
          <li class="menu-mob-nav-item">
            <a class="menu-mob-nav-link" href="#">Sale</a>
          </li>
          <li class="menu-mob-nav-item">
            <a class="menu-mob-nav-link" href="#reviewsid">Reviews</a>
          </li>
          <li class="menu-mob-nav-item">
            <a class="menu-mob-nav-link" href="#contactusid">Contact Us</a>
          </li>
        </ul>
      </nav>
      <ul class="menu-mob-nav-social-list">
        <li class="menu-mob-nav-social-list-item">
          <a
            class="menu-mob-nav-social-item-link"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <svg class="menu-mob-nav-social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="menu-mob-nav-social-list-item">
          <a
            class="menu-mob-nav-social-item-link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg class="menu-mob-nav-social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-mob-nav-social-list-item">
          <a
            class="menu-mob-nav-social-item-link"
            href="https://www.youtube.com/"
            target="_blank"
          >
            <svg class="menu-mob-nav-social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
