<section class="section">
  <div class="container">
    <h1 class="reviews-title" id="reviewsid">Reviews</h1>
    <ul class="reviews-content-list">
      <li class="reviews-content-list-item">
        <picture>
          <source
            srcset="
              ./img/reviews/john_wax@1x.jpg 1x,
              ./img/reviews/john_wax@2x.jpg 2x
            "
          />
          <img
            class="reviews-content-list-item-img"
            src="./img/reviews/john_wax@1x.jpg"
            alt="John Wax"
            width="56"
          />
        </picture>
        <p class="reviews-content-name">John Wax</p>
        <p class="reviews-content-info">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-content-list-item">
        <picture>
          <source
            srcset="
              ./img/reviews/victoria_romashenko@1x.jpg 1x,
              ./img/reviews/victoria_romashenko@2x.jpg 2x
            "
          />
          <img
            class="reviews-content-list-item-img"
            src="./img/reviews/victoria_romashenko@1x.jpg"
            alt="Victoria Romashenko"
            width="56"
          />
        </picture>
        <p class="reviews-content-name">Victoria Romashenko</p>
        <p class="reviews-content-info">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-content-list-item">
        <picture>
          <source
            srcset="
              ./img/reviews/anastasia_trachuk@1x.jpg 1x,
              ./img/reviews/anastasia_trachuk@2x.jpg 2x
            "
          />
          <img
            class="reviews-content-list-item-img"
            src="./img/reviews/anastasia_trachuk@1x.jpg"
            alt="Anastasia Trachuk"
            width="56"
          />
        </picture>
        <p class="reviews-content-name">Anastasia Trachuk</p>
        <p class="reviews-content-info">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
