<section class="section">
  <div class="container">
    <h1 class="sale-title">Sale</h1>
    <section class="sale-whatch-section">
      <ul class="sale-whatchs-list">
        <li class="sale-whatchs-list-item">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tab/first-tab.png    1x,
                ./img/sale/tab/first-tab@2x.png 2x
              "
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mob/first-mob.png    1x,
                ./img/sale/mob/first-mob@2x.png 2x
              "
            />
            <img src="./img/sale/mob/first-mob.png" alt="whats 1" width="96" />
          </picture>
        </li>
        <li class="sale-whatchs-list-item">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tab/second-tab.png    1x,
                ./img/sale/tab/second-tab@2x.png 2x
              "
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mob/second-mob.png    1x,
                ./img/sale/mob/second-mob@2x.png 2x
              "
            />
            <img src="./img/sale/mob/second-mob.png" alt="whats 2" width="96" />
          </picture>
        </li>
        <li class="sale-whatchs-list-item">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tab/third-tab.png    1x,
                ./img/sale/tab/third-tab@2x.png 2x
              "
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mob/third-mob.png    1x,
                ./img/sale/mob/third-mob@2x.png 2x
              "
            />
            <img src="./img/sale/mob/third-mob.png" alt="whats 3" width="96" />
          </picture>
        </li>
        <li class="sale-whatchs-list-item">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tab/fourth-tab.png    1x,
                ./img/sale/tab/fourth-tab@2x.png 2x
              "
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mob/fourth-mob.png    1x,
                ./img/sale/mob/fourth-mob@2x.png 2x
              "
            />
            <img src="./img/sale/mob/fourth-mob.png" alt="whats 4" width="96" />
          </picture>
        </li>
      </ul>
      <div class="sale-whatch-current-contaiter">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/sale/tab/main-tab.png    1x,
              ./img/sale/tab/main-tab@2x.png 2x
            "
            media="(max-width: 767px)"
            srcset="
              ./img/sale/mob/main-mob.png    1x,
              ./img/sale/mob/main-mob@2x.png 2x
            "
          />
          <img
            class="sale-whatch-current-img"
            src="./img/sale/mob/main-mob.png"
            alt="Selected watch"
            width="328"
          />
        </picture>
      </div>
      <div class="sale-whatch-current-info">
        <p class="sale-whatch-current-info-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </p>
        <p class="sale-whatch-current-info-id">Product tag: 706587</p>
        <div class="sale-whatch-current-info-price-wrap">
          <div class="sale-whatch-current-info-price-1-wrap">
            <p class="sale-whatch-current-info-price-1">€1500</p>
          </div>
          <p class="sale-whatch-current-info-price-2">€3000</p>
        </div>
        <p class="sale-whatch-current-info-describe">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-whatch-current-info-list">
          <li class="sale-whatch-current-info-list-item">
            <p class="sale-whatch-current-info-list-item-text">
              Fused carbon fiber
            </p>
          </li>
          <li class="sale-whatch-current-info-list-item">
            <p class="sale-whatch-current-info-list-item-text">
              Grade-5 Titanuim
            </p>
          </li>
          <li class="sale-whatch-current-info-list-item">
            <p class="sale-whatch-current-info-list-item-text">Athlete</p>
          </li>
          <li class="sale-whatch-current-info-list-item">
            <p class="sale-whatch-current-info-list-item-text">Golfer</p>
          </li>
          <li class="sale-whatch-current-info-list-item">
            <p class="sale-whatch-current-info-list-item-text">Commander</p>
          </li>
          <li class="sale-whatch-current-info-list-item">
            <p class="sale-whatch-current-info-list-item-text">Adventurer</p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
